.postedServicesCont {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
}

.servicesCont {
  display: flex;
  gap: 1.2rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.servicesCont .service-item {
  min-width: 270px;
  max-width: 33%;
  scroll-snap-align: start;
}
.servicesCont::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.postedServicesCont::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.usedServicesCont {
  /* grid-area: 2/1/3/3; */
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
}
.usedServicesCont .service-item {
  min-width: clamp(270px, calc(33% - 0.8rem), calc(33% - 0.8rem));
  max-width: calc(33% - 0.8rem);
  scroll-snap-align: start;
}
.custom-scrollbar-container {
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  position: relative;
  border-radius: 2px;
}

.custom-scrollbar-track {
  width: 100%;
  height: 100%;
  position: relative;
}

.custom-scrollbar-thumb {
  position: absolute;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 2px;
  transition: width 0.2s ease;
}
.servicesSection .browse {
  color: var(--text-color);
  font-size: 1.6rem;
  width: fit-content;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
}
.servicesSection .browse:hover {
  color: var(--primary-color);
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: end;
}
@media (max-width: 600px) {
  .servicesCont .service-item {
    width: 50%;
  }
  .usedServicesCont .service-item {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .servicesCont .service-item {
    min-width: 240px;
    width: 100%;
  }
  .usedServicesCont .service-item {
    min-width: 240px;
    width: 100%;
  }
}
