.cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.product-page {
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  flex: 1;
}
.product-page .img-n-contact img {
  width: 100px;
}
.product-page .profile-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.product-page .profile-info img {
  width: 84px;
  height: 84px;
}
.product-page .profile-info .profile-text-info {
  display: flex;
  flex-direction: column;
}
.product-page .profile-info .profile-text-info h4 {
  color: var(--primary-color);
  font-size: 2.4rem;
}
.product-page .profile-info .profile-text-info p {
  color: var(--text-color);
  font-size: 1.8rem;
}
.product-page h1 {
  justify-self: center;
}
.product-page .price {
  justify-self: right;
}
