.login-form {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  background-color: var(--accent-color);
  padding: 6.4rem 12.8rem;
  border-radius: 24px;
  min-width: 550px;
  max-width: 550px;
  border: 1px solid var(--border-color);
}

.login-form h1 {
  font-size: 2.4rem;
  text-align: center;
}

.login-form .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
}
.login-form .inputs .password-cont {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 0.4rem;
}
.login-form .inputs input {
  border: 1px solid var(--border-color);
  width: 100%;
  border-radius: 8px;
  padding: 1.2rem;
}
.login-form .forgot {
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
  text-align: end;
}

.login-form .forgot:hover {
  text-decoration: none;
  color: var(--primary-color);
}
.login-form .submit-btn {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 1.2rem;
  width: 100%;
  border-radius: 8px;
  transition: 0.4s;
  border: 1px solid transparent;
}

.login-form .submit-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.login-form .submit-btn:active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

@media (max-width: 700px) {
  .login-form {
    padding: 6.4rem;
    border-radius: 24px;
    min-width: 400px;
    max-width: 400px;
  }
}
@media (max-width: 475px) {
  .auth-form-cont {
    width: 100%;
    padding: 3.2rem 1.6rem;
  }
  .login-form {
    padding: 3.6rem;
    border-radius: 24px;
    min-width: 100%;
    max-width: 100%;
  }
}
