.bg {
  background-color: #ebebeb;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 50rem;
  transition:
    left 0.4s ease,
    width 0.4s;
}
.main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  gap: 3.2rem;
  color: #000;
}
.main header .title-cont {
  display: flex;
  align-items: center;
  gap: 2px;
}
.main header nav,
.main header .registration-cont {
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-size: 1.8rem;
  position: relative;
  /* overflow: hidden; */
}
.main header a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  padding: 0.2rem 1.2rem;
  overflow: hidden;
  z-index: 1;
}
.main header a:hover {
  color: #000;
  cursor: pointer;
  transition: 0.4s;
  /* z-index: 2; */
}
.main header a:active,
.main header .btn:active {
  color: var(--active-color);
}
.main header .hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.main header .stick {
  width: 2.8rem;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2rem;
}
.main header .hamburger:hover {
  cursor: pointer;
}

/* .main header .nav-link.active {
  color: #000;
} */
[aria-current='page'] {
  color: var(--primary-color); /* Active link color */
}
.main header .toggle:hover {
  color: var(--hover-color);
  transition: 0.4s;
}
.main header .toggle:active {
  color: var(--active-color);
}
/* @media only screen and (max-width: 1400px) {
  .main header .hamburger {
    display: flex;
  }
  .main header nav {
    display: none;
  }
} */
@media only screen and (max-width: 375px) {
  .main header {
    padding: 2.4rem 3.2rem;
  }
}
