.bg {
  background-color: var(--hover-color);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 50rem;
  transition:
    left 0.4s ease,
    width 0.4s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 6.4rem;
  gap: 3.2rem;
  color: var(--secondary-color);
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header .navCont {
  display: flex;
  gap: 4.8rem;
}

.title-cont {
  display: flex;
  align-items: center;
  gap: 2px;
}

nav,
.profile-cont {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  position: relative;
}

.profile-cont {
  gap: 1.6rem;
}

header a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.2rem 1.2rem;
  overflow: hidden;
  z-index: 1;
}

.hamburger-dropdown a {
  color: var(--secondary-color);
}

.localeCont {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: 0.4s;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.contactLink {
  border-radius: 6px;
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--border-color);
  color: var(--secondary-color);
  font-weight: 400;
  transition: 0.4s;
}

.dark .contactLink {
  background-color: var(--accent-color);
}

.contactLink:hover,
.dropdown-link:hover,
.localeCont:hover,
.profile-dropdown > a:hover,
.hamburger-dropdown .nav-link:hover {
  background-color: var(--hover-color);
}

.dropdown-link {
  transition: 0.4s;
  color: var(--secondary-color);
}

.dropdown-link:active {
  color: var(--primary-color);
}

.contactLink:active {
  color: var(--primary-color);
}

header a:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.4s;
}

header a:active {
  color: var(--primary-color);
}

.hamburger-dropdown .pricingBtn {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 0.8rem;
  text-align: center;
  color: var(--accent-color);
  margin: 1.4rem;
  transition: 0.4s;
}

.hamburger-dropdown .pricingBtn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.hamburger-dropdown .pricingBtn:active {
  color: var(--primary-color);
  background-color: var(--hover-color);
}

.profile-dropdown {
  flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding-block: 0.4rem;
  width: 256px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.profile-dropdown p {
  font-weight: 400;
  color: var(--secondary-color);
}

.profile-dropdown > * {
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: 0.4s;
}

.profile-cont .themeCont {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: unset;
}

.profile-dropdown .themeCont p {
  color: var(--text-color);
  font-weight: 300;
}

.themeToggle {
  display: flex;
  gap: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  font-weight: 400;
  overflow: hidden;
}

.themeToggle .sun {
  border-radius: 50%;
  margin-left: -1px;
  padding: 4px;
  border: 1px solid transparent;
  color: var(--secondary-color);
}
.hamburger-dropdown svg {
  color: var(--secondary-color);
}
.themeToggle .sun:hover,
.themeToggle .moon:hover {
  fill: var(--secondary-color);
}

.themeToggle .moon {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid transparent;
  margin-right: -1px;
}

.themeToggle .active {
  color: #fff;
  background-color: var(--secondary-color);
}

.dark .themeToggle .active {
  color: #fff;
  background-color: var(--primary-color);
}

.profile-cont .signBtn {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 0.4s;
}

.profile-cont .signBtn:hover {
  background-color: var(--accent-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.profile-cont .signBtn:active {
  background-color: var(--accent-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.circleUser {
  color: var(--primary-color);
  fill: var(--hover-color);
}

.hamburger-dropdown .circleUser {
  color: var(--secondary-color);
  font-size: var(--primary-color);
}

.hamburger {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .line {
  fill: none;
  stroke: var(--secondary-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition:
    stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input {
  display: none;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger {
  cursor: pointer;
  display: flex;
}

.hamburger-container {
  display: none;
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.hamburger-dropdown {
  top: 7rem;
  right: 0;
  text-align: right;
  width: 100%;
  min-height: 450px;
  height: calc(100vh - 7rem);
  position: absolute;
  z-index: 100;
  background: var(--accent-color);
  flex-direction: column;
  display: flex;
  transition: 0.4s ease-in-out;
  transform-origin: right top;
  justify-content: space-evenly;
}

.hamburger-dropdown.isOpen {
  transform: scale(1);
  padding: 1.8rem 1rem;
}

.hamburger-dropdown.isClosed {
  transform: scale(0);
}

.hamburger-dropdown > * {
  font-size: 1.6rem;
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
}

.hamburger-dropdown .border-Cont {
  margin-block: 0.8rem;
}

.hamburger-dropdown .border-line {
  height: 1px;
  width: 100%;
  background-color: var(--primary-color);
}

.hiddenNav {
  display: none;
}

.hiddenNav .dropdown-link > * {
  padding: 0;
}

.nav-link.active {
  color: var(--primary-color);
}

.hamburger-dropdown a.active {
  color: var(--primary-color);
}
.profile-icon {
  width: 24px;
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 1.8rem 2.4rem;
    height: 7rem;
  }

  .hamburger-container,
  .hiddenNav {
    display: flex;
  }

  nav,
  .profile-cont {
    display: none;
  }
}
