.bg {
  background-color: var(--hover-color);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 50rem;
  transition:
    left 0.4s ease,
    width 0.4s;
}
.main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 6.4rem;
  gap: 3.2rem;
  color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .navCont {
  display: flex;
  gap: 4.8rem;
}
.main header .title-cont {
  display: flex;
  align-items: center;
  gap: 2px;
}
.main header nav,
.main header .profile-cont {
  /* display: grid;
  grid-template-columns: repeat(4, auto); */
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  position: relative;
}
.main header .profile-cont {
  gap: 1.6rem;
}
.main header a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.2rem 1.2rem;
  overflow: hidden;
  z-index: 1;
}
.main header .localeCont {
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  /* background-color: #fff; */
  border: 1px solid var(--border-color);
  transition: 0.4s;
  cursor: pointer;
  /* color: #000; */
  color: var(--primary-color);
  background-color: var(--hover-color);
}
.dark .main header .localeCont {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.dark .main header .localeCont:hover {
  background-color: var(--hover-color);
}
.main header .contactLink {
  border-radius: 6px;
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--border-color);
  color: var(--secondary-color);
  font-weight: 400;
  transition: 0.4s;
}
.dark .main header .contactLink {
  background-color: var(--accent-color);
}
.main header .contactLink:hover {
  background-color: var(--hover-color);
}
.main header .contactLink:active {
  color: var(--primary-color);
}
.main header a:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.4s;
  /* z-index: 2; */
}
.main header a:active {
  color: var(--primary-color);
}
.nav-link.active {
  color: var(--primary-color);
}

.main header .profile-dropdown {
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding-block: 0.4rem;
  width: 256px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}
.main header .profile-dropdown P {
  font-weight: 400;
  color: var(--secondary-color);
}
.main header .profile-dropdown > * {
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: 0.4s;
}
.main header .profile-dropdown > a:hover {
  background-color: var(--hover-color);
}
.main header .profile-cont .themeCont {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: unset;
}

.main header .profile-dropdown .themeCont p {
  color: var(--text-color);
  font-weight: 300;
}
.main header .profile-dropdown .themeToggle {
  display: flex;
  gap: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  font-weight: 400;
  overflow: hidden;
}
.main header .profile-dropdown .themeToggle .sun {
  border-radius: 50%;
  margin-left: -1px;
  padding: 4px;
  border: 1px solid transparent;
}
.main header .profile-dropdown .themeToggle .sun:hover,
.main header .profile-dropdown .themeToggle .moon:hover {
  fill: var(--secondary-color);
}
.main header .profile-dropdown .themeToggle .moon {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid transparent;
  margin-right: -1px;
}
.main header .profile-dropdown .themeToggle .active {
  color: #fff;
  background-color: var(--secondary-color);
  /* background-color: #a855f7; */
}
.dark .main header .profile-dropdown .themeToggle .active {
  color: #fff;
  background-color: var(--primary-color);
  /* background-color: #a855f7; */
}
.main header .profile-cont .signBtn {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.main header .profile-cont .signBtn:hover {
  background-color: var(--accent-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.main header .profile-cont .signBtn:active {
  background-color: var(--accent-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.circleUser {
  color: var(--primary-color);
  fill: var(--hover-color);
}
/* @media only screen and (max-width: 1400px) {
  .main header .hamburger {
    display: flex;
  }
  .main header nav {
    display: none;
  }
} */
/* @media only screen and (max-width: 375px) {
  .main header {
    padding: 2.4rem 3.2rem;
  }
} */
