.profile-main {
  /* display: flex; */
  display: grid;
  grid-template-columns: 260px 1fr;
  row-gap: 4.8rem;
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
  min-height: unset;
}
.profile-main h2 {
  font-size: 2.4rem;
  color: var(--primary-color);
}
@media (max-width: 600px) {
  .profile-main {
    grid-template-columns: 1fr;
  }
}
