.createService {
  color: var(--text-color);
  font-size: 1.6rem;
  max-width: 700px;
  padding-top: 10rem;
}
.createService form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  padding: 8rem;
}
.dark .createService form {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.createService input::placeholder,
.createService textarea::placeholder {
  color: var(--text-color);
}
.createService h1 {
  font-size: 3.2rem;
  font-weight: 400;
  /* color: var(--primary-color); */
  color: var(--secondary-color);
}
.createService form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 0.4fr;
}

.createService input,
.createService select,
.createService textarea,
.createService label {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--accent-color);
}
.createService textarea {
  height: 100px;
  grid-area: span 1 / span 3;
}
.createService label {
  height: 101px;
  display: flex;
  padding: unset;
  color: var(--text-color);
  cursor: pointer;
}
.createService label,
.createService .submitBtn {
  grid-area: span 1 / span 3;
}
.createService .submitBtn {
  background-color: var(--secondary-color);
  color: var(--accent-color);

  padding: 1.2rem;
  width: 100%;
  border-radius: 8px;
  transition: 0.4s;
  border: 1px solid transparent;
  font-weight: 400;
}
.createService .submitBtn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.createService .submitBtn:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.createService .category-selector {
  cursor: pointer;
  position: relative;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--accent-color);
}
.createService .selector-title {
  padding: 0.8rem;
}
.createService .category-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--accent-color);
  /* border: 1px solid var(--border-color); */
  border-radius: 8px;
  width: 100%;
  z-index: 11;
  margin-top: 1px;
  overflow-y: scroll;
  /* height: 150px; */
  transition: 0.4s;
  /* transform-origin: top; */
}
.createService .category-list li {
  border-bottom: 1px solid var(--border-color);
  padding: 0.8rem;
  transition: 0.4s;
  border-radius: 4px;
}
.createService .category-list li:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}
.createService .img-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  border-left: 1px solid var(--border-color);
  position: relative;
}

.createService .img-container .addIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 700px) {
  .createService {
    max-width: unset;
  }
  .createService form {
    padding: 3.6rem;
    grid-template-columns: 1fr;
    width: 475px;
  }
  .createService label,
  .createService .submitBtn,
  .createService textarea {
    grid-area: unset;
  }
}
@media (max-width: 575px) {
  .createService {
    width: 100%;
  }
  .createService form {
    padding: 2.4rem;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .createService label {
    flex-direction: column;
    height: 151px;
  }
  .createService .img-container {
    border-left: none;
    border-top: 1px solid var(--border-color);
    height: 100%;
  }
}
