.service-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  /* border: 1px solid var(--accent); */
  color: var(--text-color);
  background-color: var(--accent-color);
  overflow: hidden;
  box-shadow:
    var(--border-color) 0px 2px 3px,
    var(--border-color) 0px 2px 2px;
  border: 1px solid var(--border-color);
}
.service-item a {
  color: inherit;
  text-decoration: none;
}
.text-container:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: 0.4s;
}
.service-item .img-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.service-item .img-container img {
  object-fit: cover;
  transition: 0.3s;
}
.service-item .img-container img:hover {
  transform: scale(1.1);
}
.service-item .text-container {
  padding-top: 1.6rem;
  padding-bottom: 0.8rem;
  padding-inline: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.service-item .text-container h6 {
  display: flex;
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--hover-color);
  /* color: var(--secondary-color); */
  border-radius: 50rem;
  padding: 0.4rem 0.8rem;
  width: fit-content;
  transition: 0.4s;
}

.service-item .text-container h6:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.service-item .text-container h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.4s;
}
.service-item .text-container h2:hover {
  color: #c491ff;
}
[data-theme='dark'] .service-item .text-container h2:hover {
  color: var(--text-color);
}
[data-theme='dark'] .service-item .text-container h2:active {
  color: var(--accent);
}
.service-item .text-container h2:active {
  color: var(--text-color);
}
.service-item .text-container .desc {
  font-size: 1.6rem;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: 3em;
  /* white-space: nowrap;  */
}
.service-item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 0.4rem 1.6rem;
  transition: 0.4s;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
}

.service-item .info:hover {
  background-color: var(--border-color);
}
.service-item .profile-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.service-item .profile-info img {
  width: 32px;
  height: 32px;
  transition: 0.4s;
  border-radius: 50%;
}
.service-item .profile-info img:hover {
  transform: scale(1.25);
}
.service-item .profile-info .tier-container {
  display: flex;
  flex-direction: column;
}
.service-item .info h4 {
  color: var(--primary-color);
  font-size: 1.8rem;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}
.service-item .profile-info .tier-container .name {
  transition: 0.4s;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}

.service-item .profile-info .tier-container .name:hover {
  color: var(--primary-color);
}
.service-item .ratingCont {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: var(--primary-color);
}
.service-item .ratingCont svg {
  width: 1.2rem;
  fill: var(--primary-color);
}
