/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background-color: #fafafa;
  --primary-color: #a855f7;
  --secondary-color: #000;
  --text-color: #666666;
  --hover-color: #ebebeb;
  --border-color: #e1e1e1;
  --accent-color: #fff;
  --error: #dc2626;
  --success: #44bba4;
}

.dark {
  --background-color: #000000;
  --primary-color: #a855f7;
  --secondary-color: #fff;
  --text-color: #a1a1a1;
  --hover-color: #1f1f1f;
  --border-color: #2d2d2d;
  --accent-color: #0a0a0a;
  --error: #dc2626;
  --success: #44bba4;
}

.main-layout header .right,
.main-layout header .left {
  fill: var(--secondary-color);
}

.auth-layout header .right,
.auth-layout header .left {
  fill: var(--secondary-color);
}
.auth-layout header .logo-mid {
  fill: #a2a2a2;
}
.translateMid {
  transform: translate(-50%, -50%);
  z-index: 100;
}
/* .auth-layout header .looka-1j8o68f {
  width: 130px;
} */
.error-message {
  color: var(--error);
  background-color: #fee2e2;
  padding: 1.2rem;
  border-radius: 8px;
  font-size: 1.2rem;
}
.success-message {
  color: var(--success);
  border: 1px solid var(--success);
  padding: 1.2rem;
  border-radius: 8px;
  font-size: 1.2rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  background-color: var(--background-color);
  min-height: 100vh;
  padding-top: 10rem;
  /* max-width: 1200px;
  margin-inline: auto; */
  padding-bottom: 2.4rem;
  padding-inline: 6.4rem;
}

body {
  background: var(--background-color);
  font-family: 'lexend', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.home {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 4.8rem;
}
.home h1 {
  font-size: 3.2rem;
}
.home span {
  color: var(--primary-color);
}
.home h1 {
  color: var(--text-color);
}
.home h2 {
  font-size: 2.4rem;
  color: var(--accent);
}
.home .homeBtn {
  background-color: var(--primary-color);
  /* color: var(--active-color); */
  color: var(--text-color);
  padding: 1.2rem 4.8rem;
  border-radius: 12px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid transparent;
  outline: none;
}
.home .homeBtn:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}
.home .homeBtn:active {
  background-color: var(--secondary-accent);
  color: #fff;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  main {
    padding: 10rem 2.4rem 1.8rem 2.4rem;
  }
}
